<h1>Welcome to Illam, <%= @user['name'] %></h1>
  <p>
    You have successfully signed up to Illam, we will send you the updates and details of the dream house you are looking for
  </p>
<p>Thanks for joining and why are you waiting ? Search your dream house in just few cliks!</p> 