<section class="role_page_section">
    <div class="role_main_container">
        <p class="role_para">Oops !! You are using a <span class="role_span">Buyer Account</span>. Try to create a new <span class="role_span">Owner Account</span> to post your Property</p>
    </div>
</section>