 
<section class="main-section">
    <p class="main-heading">
        BUY, SELL, AND RENT
    </p>
    <p class="sub-heading">
        Are you looking for a property or you want to sell your property ? We are there !
    </p>

    <div class="button-div">
        <a href="/properties/listing"><button class="button" type="button">See Properties</button></a>
    </div>
    
    <div class="bg-img-div">
        <div class="slnt-img">
            <%= image_tag('home_img.jpg',{class: 'bg-img' }) %>
        </div>
        <div class="slnt-img">
            <%= image_tag('home2.jpg',{class: 'bg-img' }) %>
        </div>
        <div class="slnt-img">
            <%= image_tag('home3.jpg',{class: 'bg-img' }) %>
        </div>
    </div>    

  
         
</section>
  

  
