// Place all the styles related to the payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.payment-section {
  background-color: #e3e3e3;
  height: 100vh;
  margin-top: 0.5%;
}

.payment-main-container {
  background-color: #fff;
  font-size: 1.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 65%;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.payment-title {
  color: #c60021;
  font-size: 2rem;
  text-align: center;
  font-weight: 800;
  margin-top: 2%;
}

.payment-basic-details {
  display: flex;
  position: absolute;
  margin: 5%;
}

.card-holder-name {
  font-size: 1.45rem;
  border: none;
  outline: none;
  border-bottom: 3px solid #c60021;
  width: 350px;
  height: 40px;
}

.cvv {
  font-size: 1.45rem;
  border: none;
  outline: none;
  border-bottom: 3px solid #c60021;
  width: 150px;
  height: 40px;
  margin-left: 75%;
}

.card-number-div {
  margin-top: 12%;
  margin-left: 5%;
  margin-right: 5%;
  position: absolute;
}

.card-number {
  font-size: 1.45rem;
  border: none;
  outline: none;
  border-bottom: 3px solid #c60021;
  width: 350px;
  height: 40px;
}

.card-number-text {
  font-size: 1.25rem;
  margin-left: 5%;
  color: darkgrey;
  margin-top: 18%;
  position: absolute;
}

.card-expiry-details-and-amount-div {
  margin-top: 22%;
  margin-left: 5%;
  margin-right: 5%;
  position: absolute;
  display: flex;
}

.expiry-month {
  width: 100px;
  height: 45px;
  font-size: 1.35rem;
  border: none;
  outline: none;
  background: transparent;
}

.expiry-year {
  width: 100px;
  height: 45px;
  font-size: 1.35rem;
  margin-left: 20px;
  background: transparent;
  border: none;
  outline: none;
}


  .card-expiry-text {
    font-size: 1.35rem;
    word-spacing: 3px;
    color: darkgrey;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 28%;
  }

  .amount-payable{
      margin-left: 60px;
      padding-left: 5px;
      background: none;
      font-size: 1.5rem;
      font-weight: 800;
      color: #c60021;
      border: none;
      outline: none;
      border-bottom: black 3px solid;
      width: 300px;
      cursor: not-allowed;
  }


  .amount-payable-text{
      font-size: 15px;
      margin-left: 35.5%;
      margin-top: -30px;
      color: #c60021;
      font-family: "Jost", sans-serif;
      font-family: "Redressed", cursive;
      font-family: "Varela Round", sans-serif;
  }


  .pay-now-button{
    width: 250px;
    height: 55px;
    padding: 1%;
    outline: none;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: transparent;
    border-radius: 30px;
    color: #c60021;
    border:  2px solid #e3e3e3;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
.pay-now-button:hover{
    border: #c60021 2px solid;
    color: black;
    box-shadow: #C60021 0px 7px 14px, #fff 0px 5px 5px;
}

 
.payment-confirmation-main-container{
    background-color: #fff;
    font-size: 1.25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 65%;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}