// Place all the styles related to the user_sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sign_in_heading{
    text-align: center;
    font-size: 1.5rem;
    color: #c60021;
    padding-top: 5%;
}

.sign_in_main_container{
    background-color: #fff;
    font-size: 1.25rem;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30%;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-top: 5%;
}

.user_link{
    text-decoration: none;
    text-align: center;
    margin: 2%;
}

.link_span{
    font-size: 1.35rem;
    color: #c60021;
    text-decoration: underline 1px solid #c60021;
    font-weight: 600;
}


